* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: url("./images/mainbg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
